/* Set Global Rouls */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Open Sans", "sans-serif";
}
*:focus,
* {
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  list-style: none;
}
/* End Global Roul */

/* Start Dashboard */
/* Start Sidebar */
.page {
  background-color: #f1f5f9;

  min-height: 150vh;
}
::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--grey-color);
}

.sidebar {
  width: 250px;
  box-shadow: -2px 0px 6px black;
}
.sidebar > h3 {
  font-size: 30px;
  margin-bottom: 50px;
}
.sidebar > h3::before {
  content: "";
  position: absolute;
  background-color: black;
  width: 50;
  width: 70%;
  height: 3px;
  bottom: -15px;
  left: 15%;
}
.sidebar > h3::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  bottom: -29px;
  left: 50%;
  transform: translate(-50%);
  border: solid 6px white;
}
.sidebar ul {
}
.sidebar ul li {
}
.sidebar ul li a {
  padding: 15px;
  transition: 0.3s;
  margin: 10px auto;
}
.sidebar ul li a i {
  font-size: 28px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: #f1f5f9;
}
.sidebar ul li span {
  font-size: 19px;
  font-weight: 500;
  padding-left: 10px;
}
@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    margin: 0;
    padding: 5px;
  }
  .sidebar h3 {
    font-size: 12px;
    margin: 16px auto 20px;
    font-weight: 800;
  }
  .sidebar h3::before,
  .sidebar h3::after {
    display: none;
  }

  .sidebar ul li span {
    display: none;
  }
  .sidebar ul li a i {
    font-size: 20px;
  }
}
/* End Sidebar */
/* Start head */
.content {
  overflow: hidden;
}
.content .head {
  padding: 5px;
  height: 70px;
}
.head .search {
}
.search::before {
  content: "\f002"; /* Font Awesome search icon */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--grey-color);
}
.head .search input {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 5px;
  padding-left: 35px;
  width: 160px;
  transition: width 0.3s;
}
.head .search input:hover {
  border: solid 2px gray;
}
.head .search input:focus {
  width: 250px;
  border: solid 2px gray;
}
.head .search input:focus::placeholder {
  opacity: 0;
}
.icons {
  align-items: center;
}
.icons img {
  width: 50px;
  padding: 0 7px;
}
.icons .notifaction img {
  padding-right: 20px;
}
.head .icons .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  left: 9px;
  top: 0px;
}
/* End head */
/* Start wrappper */
.page h1 {
  padding: 10px 20px 40px;
  position: relative;
}
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-right: 20px;
  margin-left: 20px;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(230px, 1fr);
    margin-right: 10px;
    margin-left: 10px;
    gap: 10px;
  }
}
/* End wrapper */
/* Start Welcome  */
.welcome {
  overflow: hidden;
}
@media (max-width: 767px) {
  .welcome .intro {
    padding-bottom: 30px;
  }
}
.welcome .intro img {
  max-width: 100%;
  width: 150px;
}

.wrapper .welcome .avatar img {
  width: 72px;

  border: solid 6px white;

  margin-left: 20px;
  margin-top: -36px;
  border-radius: 50%;
}
.wrapper .welcome .info {
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}
.wrapper .welcome .info > div {
  font-weight: 19px;
  flex: 1;
}
.wrapper .welcome .info > div > span {
  padding: 10px 0 0;
}
.welcome a.visit {
  margin: 0 15px 15px auto;
  padding: 7px 16px;
}
.welcome a.visit:hover {
  background-color: var(--blue-alt-color);
}
@media (max-width: 767px) {
  .welcome a.visit {
    margin-left: 20px;
  }
  .wrapper .welcome .info > div {
    font-size: 18px;
  }
  .wrapper .welcome .info > div > span {
    padding: 10px 0 30px;
  }
}
/* End Welcome */
/* Start Draft */
.draft {
}
.draft h2 {
  margin: 0;
}
.draft {
}
.draft form .title {
  height: 40px;
}
.draft form textarea {
  height: 200px;
  resize: none;
}
.draft form input[type="submit"] {
  margin: 0 15px 15px auto;
  padding: 7px 16px;
  border: none;
}
/* End Draft */
/* Start Yearly golas */

.targets .target-row .icon {
  width: 78px;
  height: 78px;
  margin-right: 15px;
}

.target-row .details {
  flex: 1;
}

.target-row .prograss {
  height: 4px;
}
.target-row .prograss > span {
  position: absolute;
  height: 100%;
}
.target-row .prograss > span span {
  position: absolute;
  bottom: 15px;
  right: -18px;
  border-radius: 3px;
  width: 36px;
  text-align: center;
  color: white;
}

.target-row .prograss > span span::before {
  content: "";
  border: solid 7px transparent;
  width: 0;
  height: 0;
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
}
.target-row .prograss > .blue span::before {
  border-top-color: var(--blue-color);
}
.target-row .prograss > .orange span::before {
  border-top-color: var(--orange-color);
}
.target-row .prograss > .green span::before {
  border-top-color: var(--green-color);
}
.blue .icon,
.blue .prograss {
  background-color: rgb(0 117 255 / 20%);
}
.orange .icon,
.orange .prograss {
  background-color: rgba(255, 136, 0, 0.3);
}
.green .icon,
.green .prograss {
  background-color: rgba(0, 255, 85, 0.3);
}

/* End Yearly Golas */
/* Start Tickets */

.tickets-holder .ticket {
  width: calc(50% - 20px);
}
@media (max-width: 767px) {
  .tickets-holder .ticket {
    width: 100%;
  }
}
/* End Tickets */
/* Start News */
.news .box {
}
@media (max-width: 767px) {
  .news .box {
    text-align: center;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .news .box .text p {
    flex-grow: 1;
    margin-bottom: 10px;
  }
}
.news .box .image {
  width: 120px;

  overflow: hidden;
}
.news .box .text {
  padding: 0 4px;
}
.news .box span {
  height: fit-content;
  padding: 2px;
  border-radius: 5px;
  font-size: 13px;
}
.news .box .text p {
  font-size: 14px;
  text-wrap: wrap;
}
/* End News */
/* Start Tasks */
.tasks .task .info {
  flex-grow: 1;
  padding-right: 10px;
}
.tasks .task .delete:hover {
  color: red;
  transform: scale(1.4);
  transition: 0.3s;
}

/* End Tasks */
/* Start Keywords */

.keyword .item-row .row:first-child {
  flex-grow: 1;
}
/* End KeyWord */

/* Start Lastest Updates */

.update-boxs .box .image {
  width: 64px;
}
.update-boxs .box .text {
  flex-grow: 1;
}
/* End Lastest Updated */

/* Start Current Project Status */

.current-project ul::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: var(--blue-color);
  left: 28px;
  margin-left: 16px;
}
.current-project ul li::before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: var(--blue-color);
  display: block;
  border-radius: 50%;
  background-color: white;
  border: solid 2px white;
  margin-right: 15px;
  z-index: 1;

  outline: 2px solid var(--blue-color);
}
.current-project ul li.done::before {
  content: "";
  background-color: var(--blue-color);
  z-index: 1;
}
.current-project ul li.current::before {
  content: "";
  animation: project-status 0.7s infinite alternate;
  background-color: var(--blue-color);
  z-index: 1;
}
@keyframes project-status {
  from {
    background-color: white;
  }
  to {
    background-color: var(--blue-color);
  }
}
.current-project .launch-icon {
  position: absolute;
  right: 22px;
  bottom: 50px;
  opacity: 0.3;
}
/* End Current Project Status */

/* Start Reminders */
.remainders ul li .key {
  width: 17px;
  height: 17px;
  border-radius: 50%;
}
.remainders ul li .blue {
  border-left: solid 3px var(--blue-color);
  font-size: 16px;
}
.remainders ul li .orange {
  border-left: solid 3px var(--orange-color);
}
.remainders ul li .green {
  border-left: solid 3px var(--green-color);
}
.remainders ul li .red {
  border-left: solid 3px var(--red-color);
}
.remainders ul li .grey {
  border-left: solid 3px var(--grey-color);
}
/* End Reminders */
/* Start Last Post */
.post .top img {
  width: 64px;
  border-radius: 50%;
}
.post .content {
  padding: 5px 5 10px;
  line-height: 1.8;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}
/* End Last Post */

/* Start Socail Media */

.social-media .box i {
  position: absolute;
  left: 0;
  top: 0;
  width: 55px;
}
.social-media .box {
  padding-left: 70px;
}
.social-media .twitter {
  background-color: rgb(0 0 0 / 10%);
  color: black;
}
.twitter i,
.twitter a {
  background-color: black;
  color: white;
}
.social-media .facebook {
  background-color: rgb(0 117 255 / 30%);
  color: var(--blue-color);
}
.facebook i,
.facebook a {
  background-color: var(--blue-color);
  color: white;
}
.social-media .youtube {
  background-color: rgba(255, 8, 0, 0.3);
  color: red;
}
.youtube i,
.youtube a {
  background-color: red;
  color: white;
}
.social-media .linkedin {
  background-color: rgba(30, 134, 253, 0.3);
  color: var(--blue-alt-color);
}
.linkedin i,
.linkedin a {
  background-color: var(--blue-alt-color);
  color: white;
}
/* End Socail Media */
/* Start Table */

@media (max-width: 767px) {
  .projects {
    margin: 10px;
  }
}
.responsive-table {
  overflow-x: auto;
}
.projects table {
  min-width: 1000px;
}
.projects thead td {
  background-color: #eee;
  font-weight: bold;
}
.projects table td {
  padding: 15px;
}
.projects tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  transition: 0.3s;
}
.projects table tbody tr td:last-child {
  border-right: 1px solid #eee;
}
.projects tbody tr:hover td {
  background-color: #faf7f7;
}
.projects table img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
}
.projects table img:not(:first-child) {
  margin-left: -20px;
}
.projects table .label {
  font-size: 13px;
}
.responsive-table {
}

/* End Table */
/* End Dashboard */

/* Start Settings */
/* Start Ckeck Conponint */
.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.toggle-switch {
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  left: 50px;
  color: var(--blue-color);
}
/* End Ckeck Conponint */

/* Start Control Site */
.settings-page {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
  .settings-page {
    grid-template-columns: minmax(100px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.settings-page .site-control textarea {
  height: 150px;
  resize: none;
  border: solid 1px #eee;
}

/* End Control Site */

/* Start Personal Info */

.personal-info {
}
.personal-info .form input {
  border: solid 1px #eee;
}
.personal-info .form:last-child .email {
  flex: 1;
}
.personal-info .form:last-child a {
  color: var(--blue-color);
}
.personal-info .form:last-child a {
  color: var(--blue-color);
}
/* End Personal Info */

/* Start Socail Account */
.social-boxs i {
  width: 40px;
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 6px 0 0 6px;
  transition: 0.3s;
  outline: none;
  font-size: 20px;
}
.social-boxs input {
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  padding-left: 10px;
  border-radius: 0 6px 6px 0;
  outline: none;
}
.social-boxs > div:focus-within i {
  color: black;
}
/* End Socail Account */

/* Start  Control Wedgites */

.widgets-control .control input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.widgets-control .control label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 2px solid var(--grey-color);
}
.widgets-control .control input[type="checkbox"]:checked + label::after {
  transform: scale(1);
}
.widgets-control .control label::after {
  font-family: var(--fa-style-family-classic);
  content: "\f00c";
  font-weight: 900;
  background-color: var(--blue-color);
  color: white;
  font-size: 12px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotate(360deg);
  transition: 0.3s;
}
.widgets-control .control label::before,
.widgets-control .control label::after {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
  border-radius: 4px;
}
.widgets-control .control label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
  font-size: 20px;
}
/* End Control Wedgits */

/* Start Server */
.backup-control input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}
.backup-control .date label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.backup-control .date label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -11px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--grey-color);
  border-radius: 50%;
}
.backup-control .date label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 12px;
  height: 12px;
  background: var(--blue-color);
  border-radius: 50%;
  transition: 0.3s;
  transform: scale(0);
}
.backup-control .date input[type="radio"]:checked + label::before {
  border-color: var(--blue-color);
}
.backup-control .date input[type="radio"]:checked + label::after {
  transform: scale(1);
}
.backup-control .servers {
  border-top: 1px solid #eee;
  padding-top: 20px;
}
@media (max-width: 767px) {
  .backup-control .servers {
    flex-wrap: wrap;
  }
}
.backup-control .servers .server {
  border: 2px solid #eee;
  position: relative;
}
@media (min-width: 767px) {
  .backup-control .servers .server:not(:last-of-type) {
    margin-right: 10px;
  }
}
.backup-control .servers .server label {
  cursor: pointer;
}
.backup-control .servers input[type="radio"]:checked + .server {
  border-color: var(--blue-color);
  color: var(--blue-color);
}
/* End Server */
/* End Settings */

/* Start Profil */

.profile-page {
}
.profile-page .overview img {
  width: 104px;
  height: 104px;
}
.avatar-box {
  padding: 50px;
}
.avatar-box .prog {
  width: 150px;
  height: 6px;
  margin: 40px auto 15px;
  border-radius: 16px;
}
.avatar-box .prog > span {
  height: 100%;
  background-color: red;
  position: absolute;
  left: 0;
  border-radius: 18px;
}
@media (min-width: 768px) {
  .avatar-box {
    border-right: solid 1px #eee;
  }
}
@media (max-width: 998px) {
  .overview {
    flex-direction: column;
  }
  .info-box .box {
    min-width: 250px;
    flex-wrap: nowrap;
  }
}
@media (max-width: 998px) {
  .info-box .box > div {
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: 17px;
  }
  .info-box .box .toggle-switch {
    margin: 10px auto;
  }
}

/* Start User Info */
.info-box .box {
  flex-wrap: wrap;
  border-bottom: solid 1px #eee;
}
.info-box .box > div {
  min-width: 250px;
  padding: 10px 0 0;
}
.profile-page .info-box .box:hover {
  background-color: #f9f9f9;
}
.profile-page .info-box .box > div {
  min-width: 250px;
  padding: 10px 0 0;
}
.profile-page .info-box h4 {
  font-weight: normal;
}
/* Start Training Code */
.profile-page .info-box .toggle-switch {
  height: 20px;
}
@media (max-width: 767px) {
  .profile-page .info-box .toggle-switch {
    margin: auto;
  }
}
.profile-page .info-box .toggle-switch::before {
  width: 12px;
  height: 12px;
  font-size: 8px;
}
.profile-page .info-box .toggle-checkbox:checked + .toggle-switch::before {
  left: 62px;
}
/* End Training Code */
@media (max-width: 767px) {
  .profile-page .other-data {
    flex-direction: column;
  }
}
.profile-page .skills-card {
  flex-grow: 1;
}
.profile-page .skills-card ul li {
  padding: 15px 0;
}
.profile-page .skills-card ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.profile-page .skills-card ul li span {
  display: inline-flex;
  padding: 4px 10px;
  background-color: #eee;
  border-radius: 6px;
  font-size: 14px;
}
.profile-page .skills-card ul li span:not(:last-child) {
  margin-right: 5px;
}
.profile-page .activities {
  flex-grow: 2;
}
.profile-page .activity:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.profile-page .activity img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}
@media (min-width: 768px) {
  .profile-page .activity .date {
    margin-left: auto;
    text-align: right;
  }
}
@media (max-width: 767px) {
  .profile-page .activity {
    flex-direction: column;
  }
  .profile-page .activity img {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .profile-page .activity .date {
    margin-top: 15px;
  }
}
/* End User Info */

/* End Profilte */

/* Start Projects */
.projects-page {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .projects-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
  .project h2 {
    font-weight: normal;
    font-size: 18px;
  }

  .project .do {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 10px;
  }
  .info .prog-holder {
    width: 150px;
  }
}
.project .date {
  position: absolute;
  right: 10px;
}
.team img {
  border-bottom: solid 1px #eee;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: solid 3px white;
}

.project .do {
}
.info {
  border-top: solid 1px #eee;
}
.info .prog-holder {
  position: relative;
  background-color: #eee;

  height: 8px;
  border-radius: 6px;
}
.info .prog-holder span {
  position: absolute;
  height: 100%;

  border-radius: 5px;
}
@media (min-width: 768px) {
  .info .prog-holder {
    width: 250px;
  }
}

/* End Projects */

/* Start Courses */

.courses-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
@media (max-width: 767px) {
  .courses-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.courses .course {
  overflow: hidden;
}
.course .cover {
  width: 100%;
}
.course .instructor {
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: solid 3px white;
  top: 10px;
  left: 10px;
}
.courses .course .info .title {
  width: 100%;
}
/* End Courese */

/* Start Friends */
.friends-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
@media (max-width: 767px) {
  .courses-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.friends-page .friend .contact i {
  border-radius: 50%;
  background-color: var(--blue-color);
  color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
}
.friends-page .friend:nth-child(2) {
  padding: 20px 10px;
}
.friend .info {
  padding: 16px 5px 0px;
}
/* End Friends */

/* Start Files */
.files-page {
  align-items: start;
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .files-page {
    flex-direction: column;
    align-items: normal;
  }
}
.files-page .files-stats {
  min-width: 260px;
}
.files-page .files-stats .icon {
  width: 48px;
  height: 48px;
  margin: 5px;
}
.files-page .files-stats .blue {
  background-color: rgb(0 117 255 / 20%);
}
.files-page .files-stats .green {
  background-color: rgb(34 197 94 / 20%);
}
.files-page .files-stats .red {
  background-color: rgb(244 67 54 / 20%);
}
.files-page .files-stats .orange {
  background-color: rgb(245 158 11 / 20%);
}
.size {
  margin-left: auto;
}
.files-page .files-stats .upload {
  margin: 15px auto;
  padding: 11px 15px;
  transition: 0.3s;
}
.files-page .files-stats .upload:hover i {
  animation: go-up 0.8s infinite linear;
}
.files-page .files-content {
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.files-page .files-content .icon img {
  width: 64px;
  height: 64px;
  transition: 0.3s;
}
.files-page .files-content .icon:hover img {
  transform: rotate(5deg);
}
/* End Files */

/* Start Plan */
.plans-page {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
@media (max-width: 767px) {
  .plans-page {
    grid-template-columns: minmax(250px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.plans-page .plan .top {
  border: 3px solid white;
  outline: 3px solid transparent;
}
.plans-page .plan.green .top {
  outline-color: var(--green-color);
}
.plans-page .plan.blue .top {
  outline-color: var(--blue-color);
}
.plans-page .plan.orange .top {
  outline-color: var(--orange-color);
}
.plans-page .plan .price {
  position: relative;
  font-size: 40px;
  width: fit-content;
  margin: auto;
}
.plans-page .plan .price span {
  position: absolute;
  left: -20px;
  top: 0;
  font-size: 25px;
}
.plans-page .plan ul li {
  padding: 15px 0;
  display: flex;
  align-items: center;
  font-size: 15px;
  border-bottom: 1px solid #eee;
}
.plans-page .plan ul li .yes {
  color: var(--green-color);
}
.plans-page .plan ul li i:not(.yes, .help) {
  color: var(--red-color);
}
.plans-page .plan ul li i:first-child {
  font-size: 18px;
  margin-right: 5px;
}
.plans-page .plan ul li .help {
  color: var(--grey-color);
  margin-left: auto;
  cursor: pointer;
}
/* End Plan */
@keyframes go-up {
  0%,
  100% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-5px);
  }
}
